.iconPsw {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.wrapper {
  position: relative;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding-right: 36px;
  padding-left: 8px;
  height: 40px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
